<apex:page Controller="bat.ActivitiesLabController"   id="Activitytabpage" sidebar="false" >
            <apex:includeScript value="/soap/ajax/24.0/connection.js"/> 
            <apex:includeScript value="/soap/ajax/24.0/apex.js"/> 
            <apex:stylesheet value="{!URLFOR($Resource.bat__JQuery_UI_Custom, 'development-bundle/themes/base/jquery.ui.all.css')}" />
            <apex:stylesheet value="{!URLFOR($Resource.bat__jQueryUIResource,'css/aero/jquery-ui-1.8.1.custom.css')}" />  
            <apex:includeScript value="{!URLFOR($Resource.bat__JQuery_UI_Custom, 'js/jquery-1.7.2.min.js')}" />
            <apex:includeScript value="{!URLFOR($Resource.bat__JqGrid, 'js/jquery-1.9.0.min.js')}" /> 
            <apex:includeScript value="{!URLFOR($Resource.bat__JQuery_UI_Custom, 'development-bundle/jquery-1.7.2.js')}" /> 
            <apex:includeScript value="{!URLFOR($Resource.bat__JqGrid, 'js/i18n/grid.locale-en.js')}" />
            <apex:includeScript value="{!URLFOR($Resource.bat__JqGrid, 'js/jquery.jqGrid.min.js')}" />    
            <apex:includeScript value="{!URLFOR($Resource.bat__JqGrid, 'src/*.js')}" />     
            <apex:stylesheet value="{!URLFOR($Resource.bat__JqGrid, 'css/ui.jqgrid.css')}" /> 
   <style>
    .headerStyle{background-color:red;color:#333333;height:50px}
      
</style>

<script>
$(window).load(function() {
   $("#phSearchInput").focus();
});

  var j$ = jQuery.noConflict();
  
        function runScript(obj){
       
            if(obj.keyCode == 13){
                callAction();   // call action function
                return false;
            }else if((obj.keyCode > 34 && obj.keyCode < 40) || (obj.keyCode > 95 && obj.keyCode < 106) || (obj.keyCode > 47 && obj.keyCode < 58) || obj.keyCode == 8 || obj.keyCode == 46 ){
                return true;
            }else{
                return false;
            }
        }
        
   function runScrip(obj){
             
            if(obj.keyCode == 13){
                callAction1();   // call action function
                return false;
            }else if((obj.keyCode > 34 && obj.keyCode < 40) || (obj.keyCode > 95 && obj.keyCode < 106) || (obj.keyCode > 47 && obj.keyCode < 58) || obj.keyCode == 8 || obj.keyCode == 46 ){
                return true;
            }else{
                return false;
            }
        }     
</script>
   
    
<style>
.actionsDropdown dd, .actionsDropdown dt, .actionsDropdown ul { margin:0px; padding:0px; }
.actionsDropdown dd { position:relative; }
.actionsDropdown div, .actionsDropdown div:visited { 
    color:#333333; 
    text-decoration:none; 
    outline:none;
    text-align: left;
    font-family:Verdana, Geneva, sans-serif;
}
.actionsDropdown div:hover { color:#5d4617;}
.actionsDropdown dt div:hover, .actionsDropdown dt div:focus { color:#333333; border: 1px solid #A4C4E5;} 
.actionsDropdown dt div {
    display:block;    
    background-color: #E5F1FC;
    border: 1px solid #A4C4E5;
    color: #333333;
    font-size: 100%;
    height: 19px;
    margin-top: 1px;
    padding-left: 2px;
    text-align: left;
    width: 100px;
    font-family:Verdana, Geneva, sans-serif;   
}
.actionsDropdown dt div span {cursor:pointer; display:block; padding: 0 0px;}
.actionsDropdown dd ul { 
    background:#E5F1FC none repeat scroll 0 0; 
    border:1px solid #d4ca9a; 
    color:#333333; 
    display:none;
    left:0px; 
    padding:5px 0px; 
    position:absolute; 
    top:0px; 
    width:120px; 
    min-width:100px; 
    list-style:none;
}
.actionsDropdown span.value { display:none;}

.actionsDropdown dd ul li div { 
    display:block;
    padding:3px;
    margin-left:-12px; 
    font-size:100%;
    cursor:hand;
}

.actionsDropdown dd ul li div:hover { 
    background-color:#A4C4E5;
    cursor:hand
}
.StyleCss{ background-image: none;background-color:#F6CECE; !important; }
.pointer { 
    cursor: pointer; 
    text-decoration: underline;
}   
.StyleCssResolved{ background-image: none;background-color:#D0F5A9; !important; }
.hoverPopup{
            background-color: #E8EEF7; 
            border-width: 2px;
            border-style: double;
            z-index: 99999;
            left: 50%;
            padding:5px;
            position: fixed;
            height: 170px;
            width: 500px;
            margin-left: -250px;
            top:170px;
        }
        .historyNotesPopup{
            background-color: #E8EEF7; 
            border-width: 2px;
            border-style: double;
            z-index: 99999;
            left: 50%;
            padding:5px;
            position: fixed;
            margin-left: -550px; 
            top:170px;
        }
        .historyPopup{
            background-color: #E8EEF7; 
            border-width: 2px;
            border-style: double;
            z-index: 99999;
            left: 50%;
            padding:5px;
            position: fixed;
            margin-left: -550px; 
            top:650px;
        }
        .historyapPopup{
            background-color: #E8EEF7; 
            border-width: 2px;
            border-style: double;
            z-index: 99999;
            left: 50%;
            padding:5px;
            position: fixed;
            margin-left: -550px; 
            top:1100px;
        }
        
       .pgblockdiv{
           width: 100%;
 
          
       }
        .pgblockdiv1{
        width: 1000px;
      align:float;
       
        }
   .tdclass
{

text-align:center;
}
.tableclass{
width:100%;
}


</style>




<script>
  var j$ = jQuery.noConflict();
  $(document).ready(function() {
  
           
    
            $(".actionsDropdown dt div").click(function() {        
                    $(".actionsDropdown dd ul").toggle();
            });
            $(".actionsDropdown dd ul li").click(function() {        
                    $(".actionsDropdown dd ul").toggle();
            });
        
           
        $(document).bind('click', function(e) {
            var $clicked = $(e.target);
            if (! $clicked.parents().hasClass("actionsDropdown"))
                $(".actionsDropdown dd ul").hide();
        });

    });
   
    </script>
   
    <script>
   
 var j$ = jQuery.noConflict();
 


 /*  window.onload = function() {      
 var width = $(window).width();
     
   
            if(width<580){
      
               
                $(".pgblockdiv").css({"float":"left"});
                $(".pgblockdiv").css({"width":width});
              
             
                $(".tdclass").css({"text-align":"left"});
                hidec();
                
            }else if(width>580){
                   $(".pgblockdiv").css({"width":"100%"});
                 $(".pgblockdiv1").css({"width":"1000px"});
                  $(".pgblockdiv1").css({"align":"float"});
  
                   $(".tdclass").css({"text-align":"center"});
           hidec1();
        }
  
 }
  
    $( window ).resize(function() {
       var width = $(window).width();
    
            if(width<580){
               
         
                $(".pgblockdiv").css({"float":"left"});
                $(".pgblockdiv").css({"width":width});
                    $(".pgblockdiv1").css({"width":width});
           
               
                  $(".tdclass").css("text-align", "left");
                  
               hidec(); 
                 
                
           }else if(width>580){
         
    
            $(".pgblockdiv").css({"width":"100%"});
             $(".pgblockdiv1").css({"width":"1000px"});
            $(".pgblockdiv1").css({"align":"float"});

         $(".tdclass").css({"text-align":"center"});

              hidec1();
        }
       
     
        
        
      });
   */
</script>
   
   
   
   
   
<script type="text/javascript">
  var j$ = jQuery.noConflict();
function deletetheview(){
    var x=confirm('Are you sure?');
if(x==true){

deleteviewjava();
window.open('/apex/bat__Activities','_self');

}else{
    return false;
}


}
    function checkAll(cb,cbid)
        {
            var inputElem = document.getElementsByTagName("input");                     
            for(var i=0; i<inputElem.length; i++)
            {             
                 if(inputElem[i].id.indexOf(cbid)!=-1){                                        
                    inputElem[i].checked = cb.checked;
                }
            }
        }   function openCreateNotes(identity){
        //window.open(,"newPopup");
       if(identity=='event'){
    
          window.open("{!JSENCODE(urltoredirect1)}","_blank ");
        }else{
          window.open("{!JSENCODE(urltoredirect)}","_blank ");
         
        }
        
    }
</script> 


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.js"></script>  
 
 
  <style type="text/css">
 
 .custPopup{
            background-color:#FFF9FF;
            border-style: solid;
            border-color:rgb(0,191,255);
            border-width: 4px;
            border-radius:10px;
            left: 55%;
            padding:10px;
            position: absolute;
            z-index: 9999;
            width: 150px;
            height: 120px;
            margin-left: -150px; 
            scrollbar:yes;
            resizable:yes;  
                
            top:80px;
        }
 .popupBack{
                background-color:rgba(0,0,0,0.4);             
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                z-index: 9998;
            }       
 </style>




<table width="100%">
    <tr>
        <td align="right">
        <apex:image value="{!$Resource.bat__Beeimage}" style="width:50px;height:40px" onclick="window.open('http://www.basati.com/')"/> 
        </td>
    </tr>
</table>
 
  <apex:form id="Activitytabform">
  <!-- <apex:actionFunction name="deleteviewjava" action="{!deleteview}" reRender="dummy" /> -->
  <apex:pagemessages id="Activitytabpagemessage"></apex:pagemessages>

                <apex:actionFunction name="hidec1" action="{!hidecolum1}" reRender="outputtask,outputevent" />
              <apex:actionFunction name="hidec" action="{!hidecolum}"  reRender="outputtask,outputevent" />
    
         <div class="pgblockdiv" id="divc">
     
      <apex:pageBlock mode="edit" id="Activitytabpageblock">
    
             <apex:outputpanel id="filter">
         
    <div>        
    <table  width="100%" id="tableg" >
         <tr>
     
             <td>
             <b>View</b>&nbsp;&nbsp;&nbsp;
            
       
    
    
    <apex:selectList value="{!Selectedview}" size="1"  style="width:200px; " id="Activitytabselectlist"> 
                <apex:selectOptions value="{!listview}" />
                
                 <apex:actionSupport event="onchange" action="{!viewaction}" rerender="outputtask,outputevent,delid,powerdby,Activitytabpagemessage"   status="selectli"/>
                         <apex:actionStatus id="selectli">
                                                         <apex:facet name="start">
                                                     <apex:outputPanel >
                                                           <apex:image value="/img/loading32.gif" style="height: 15px;"/>
                                                     </apex:outputPanel>
                                   </apex:facet>
                             </apex:actionStatus>

    </apex:selectList>
    
    
   <apex:outputLabel id="delid">
   <apex:actionStatus id="delacsta">
                                                         <apex:facet name="start">
                                                     <apex:outputPanel >
                                                           <apex:image value="/img/loading32.gif" style="height: 15px;"/>
                                                     </apex:outputPanel>
                                   </apex:facet>
                             </apex:actionStatus>
    <apex:commandLink value="Edit " action="{!editview}" style="text-decoration: none;" rendered="{!hidedel}" /> <apex:outputtext value=" | "  rendered="{!hidedel}"></apex:outputtext>
     <apex:commandLink value="Delete " action="{!deleteview}" style="text-decoration: none;" rendered="{!hidedel}"  reRender="testpop" status="delacsta" / ><apex:outputtext value=" | "  rendered="{!hidedel}"></apex:outputtext>
   
                            
   
   </apex:outputLabel>
 
       <apex:commandLink value="Create New View" action="{!createview}" style="text-decoration: none;"/>
   
     
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    
     <apex:commandLink action="{!viewaction}" type="image/png" reRender="outputtask,outputevent" status="refreshall" >
<apex:image value="{!$Resource.bat__Refresh}" style="height: 25px; width:25px;"/>
</apex:commandlink> 

                            





<apex:actionStatus id="refreshall">
                                             <apex:facet name="start">
                                         <apex:outputPanel >
                                               <apex:image value="/img/loading32.gif" style="height: 15px;"/>
                                             </apex:outputPanel>
                                   </apex:facet>
                             </apex:actionStatus>  
             </td>
       
             <td>
          
                  <dl id="createNew" class="actionsDropdown" title="Create New" style="float:right;">
                    <dt><div><span>Create New</span></div></dt>
                    <dd>
                        <ul style="z-index:2 !important;">
                           <apex:outputPanel ><li><div id="task" onclick="openCreateNotes(this.id);" style="cursor:pointer;" >Task</div></li></apex:outputPanel>
                        
                            <apex:outputPanel ><li><div id="event" onclick="openCreateNotes(this.id);" style="cursor:pointer;" >Event</div></li></apex:outputPanel>
                            
                        </ul>
                    </dd>
                </dl>     
             </td>
             
         </tr>
         </table>
         </div>
            
         <apex:actionFunction name="first" action="{!first}" status="status" reRender="outputtask"/>
        <apex:actionFunction name="last" action="{!last}" status="status" reRender="outputtask"/>
        <apex:actionFunction name="next" action="{!next}" status="status" reRender="outputtask"/>
        <apex:actionFunction name="previous" action="{!previous}" status="status" reRender="outputtask"/>
        <apex:actionFunction name="callAction" action="{!pageNavigation}" status="status" reRender="outputtask"/>
         <apex:actionFunction name="changeLimit" action="{!changeLimit}" status="status" reRender="outputtask"/>
          
          
          
        <apex:actionFunction name="first1" action="{!first1}" status="status" reRender="outputevent"/>
        <apex:actionFunction name="last1" action="{!last1}" status="status" reRender="outputevent"/>
        <apex:actionFunction name="next1" action="{!next1}" status="status" reRender="outputevent"/>
        <apex:actionFunction name="previous1" action="{!previous1}" status="status" reRender="outputevent"/>
        <apex:actionFunction name="callAction1" action="{!pageNavigation1}" status="status" reRender="outputevent"/>
        <apex:actionFunction name="changeLimit1" action="{!changeLimit1}" status="status" reRender="outputevent"/>
          
                
                 
              </apex:outputpanel>       
      

                
     
                          
<apex:outputPanel id="outputtask">
 <apex:pageBlockSection title="Task Information" rendered="{!IsTask }" collapsible="false" columns="1" >
                     

               <apex:PageBlockTable value="{!taskdata}" var="tsk" style="background-color:#E5F1FC;"  width="80px;" >
                        
      
                        
                        <apex:column headerValue="Action" style="width:5%"  >
                                   
                                         <apex:commandLink value="Edit" action="{!editactivity}" style="text-decoration: none;">
                                           <apex:param name="as1" assignTo="{!selectedtskforedit}" value="{!tsk.id}"/>
                                       </apex:commandlink>&nbsp;|   &nbsp;
                                        <apex:commandLink value="Cls" action="{!closeactivity}"  status="clsst" style="text-decoration: none;">
                                   <apex:param name="as" assignTo="{!selectedtskforedit}" value="{!tsk.id}"/>
                               </apex:commandlink>
                        
                               
                             <apex:actionStatus id="clsst">
                                             <apex:facet name="start">
                                         <apex:outputPanel >
                                               <apex:image value="/img/loading32.gif" style="height: 15px;"/>
                                         </apex:outputPanel>
                                   </apex:facet>
                             </apex:actionStatus>
                          </apex:column>
                      
                      <apex:column style="width:10%"  rendered="{!(!hidedel)}">
                             <apex:facet name="header">
                                         <apex:commandLink action="{!sort}" value="Subject{!IF(wikiUTIL_Sorter.column=='Subject',IF(wikiUTIL_Sorter.sortDirection='ASC','▲','▼'),'')}" reRender="outputtask">
                                         <apex:param value="Subject" name="column" assignTo="{!wikiUTIL_Sorter.column}" ></apex:param>
                                         </apex:commandLink>
                                         
                                 </apex:facet> 
                                  <apex:image value="{!$Resource.bat__recurring}" style="height: 15px;" rendered="{!tsk.RecurrenceActivityId<>null}"/>
                                 
                                   <a href="/{!tsk.id}" id="{!tsk.id}" >
                                          {!tsk.Subject}</a>  
                                  
                                
                                 <!-- <apex:commandLink onclick="window.open('/{!tsk.id}','_blank'); return false">{!tsk.Subject}</apex:commandLink> -->
                             
                       </apex:column>
                 
                        <apex:column rendered="{!hidecol && (!hidedel)}" style="width:5%"  >
                             <apex:facet name="header">
                                         <apex:commandLink action="{!sort}" value="Name{!IF(wikiUTIL_Sorter.column=='whoid',IF(wikiUTIL_Sorter.sortDirection='ASC','▲','▼'),'')}" reRender="outputtask" >
                                         <apex:param value="whoid" name="column" assignTo="{!wikiUTIL_Sorter.column}" ></apex:param>
                                         </apex:commandLink>
                                         
                                 </apex:facet>
                              <apex:outputField value="{!tsk.whoid}" style="height:40px;"/>
                       </apex:column>
                   
                    <apex:column rendered="{!hidecol && (!hidedel)}" style="width:5%"  >
                             <apex:facet name="header">
                                         <apex:commandLink action="{!sort}" value="Related To{!IF(wikiUTIL_Sorter.column=='Whatid',IF(wikiUTIL_Sorter.sortDirection='ASC','▲','▼'),'')}" reRender="outputtask">
                                         <apex:param value="Whatid" name="column" assignTo="{!wikiUTIL_Sorter.column}" ></apex:param>
                                         </apex:commandLink>
                                         
                                 </apex:facet>
                                <apex:outputField value="{!tsk.Whatid}" style="height:40px;width:5%;"/>
                       </apex:column>
                   
           
                      <apex:column style="width:5%" rendered="{!(!hidedel) }">
                             <apex:facet name="header">
                                         <apex:commandLink action="{!sort}" value="Due Date{!IF(wikiUTIL_Sorter.column=='ActivityDate',IF(wikiUTIL_Sorter.sortDirection='ASC','▲','▼'),'')}" reRender="outputtask">
                                         <apex:param value="ActivityDate" name="column" assignTo="{!wikiUTIL_Sorter.column}" ></apex:param>
                                         </apex:commandLink>
                                         
                                 </apex:facet>
                               <apex:outputField value="{!tsk.ActivityDate}" style="height:40px;"/>
                       </apex:column>
              
                    <apex:column rendered="{!hidecol && (!hidedel)}" style="width:5%"> 
                             <apex:facet name="header"  >
                                         <apex:commandLink action="{!sort}" value="Status{!IF(wikiUTIL_Sorter.column=='Status',IF(wikiUTIL_Sorter.sortDirection='ASC','▲','▼'),'')}" reRender="outputtask">
                                         <apex:param value="Status" name="column" assignTo="{!wikiUTIL_Sorter.column}" ></apex:param>
                                         </apex:commandLink>
                                         
                                 </apex:facet>
                               <apex:outputField value="{!tsk.Status}" style="height:40px;"/>
                       </apex:column>
                       
              
                      <apex:column rendered="{!hidecol && (!hidedel)}" style="width:5%" >
                             <apex:facet name="header" >
                                         <apex:commandLink action="{!sort}" value="Priority{!IF(wikiUTIL_Sorter.column=='Priority',IF(wikiUTIL_Sorter.sortDirection='ASC','▲','▼'),'')}" reRender="outputtask">
                                         <apex:param value="Priority" name="column" assignTo="{!wikiUTIL_Sorter.column}" ></apex:param>
                                         </apex:commandLink>
                                         
                                 </apex:facet>
                               <apex:outputField value="{!tsk.Priority}" style="height:40px;"/>
                       </apex:column>
                
                           
                      <apex:column headerValue="Description"  rendered="{!hidecol && (!hidedel)}" style="width:5%" >
                  <a href="/{!tsk.id}" title="{!tsk.Description}">{!left(tsk.Description,45)} </a>
            <!--   <apex:commandLink value="{!left(tsk.Description,10)}" title="{!tsk.Description}"  /> -->
                   </apex:column>
                         <apex:column rendered="{!hidecol && (!hidedel) }" style="width:5%" >
                             <apex:facet name="header" >
                                         <apex:commandLink action="{!sort}" value="CallDisposition{!IF(wikiUTIL_Sorter.column=='CallDisposition',IF(wikiUTIL_Sorter.sortDirection='ASC','▲','▼'),'')}" reRender="outputtask">
                                         <apex:param value="CallDisposition" name="column" assignTo="{!wikiUTIL_Sorter.column}" ></apex:param>
                                         </apex:commandLink>
                                         
                                 </apex:facet>
                                <apex:outputField value="{!tsk.CallDisposition}" style="height:40px;"/>
                       </apex:column>
                       
                      
                <apex:repeat value="{!taskfieldaa}" var="f1" >
                            <apex:column style="width: 10px;"  rendered="{!if(hidedel && f1.value<>'Description',true,false) }">
                                     <apex:facet name="header">
                                         <apex:commandLink action="{!sort}" value="{!f1.label}{!IF(wikiUTIL_Sorter.column==f1.value,IF(wikiUTIL_Sorter.sortDirection='ASC','▲','▼'),'')}" reRender="outputtask">
                                             <apex:param value="{!f1.value}" name="column" assignTo="{!wikiUTIL_Sorter.column}" ></apex:param>
                                         </apex:commandLink>
                                                
                                          
                               </apex:facet>  
                           
                       <apex:outputField value="{!tsk[f1.value]}"  rendered="{!if(f1.value!='Description' && f1.value<>'ConnectionReceivedid',true,false)}"/>
                   
                  
                    </apex:column>
                         <apex:column headervalue="{!f1.label}" rendered="{!if(f1.value=='Description' &&  hidedel ,true,false)}">
                         
                             <a href="/{!tsk.id}" title="{!tsk[f1.value]}">{!left(tsk[f1.value],45)}</a>
                         
                            </apex:column>
                </apex:repeat> 
                      
                       
                       
                       
                       
                       
                       
                       
                    
               <!--       <apex:column rendered="{!hidecol}" style="width:5%"  >
                             <apex:facet name="header">
                                         <apex:commandLink action="{!sort}" value="CallType{!IF(wikiUTIL_Sorter.column=='CallType',IF(wikiUTIL_Sorter.sortDirection='ASC','?','?'),'')}" reRender="outputtask">
                                         <apex:param value="CallType" name="column" assignTo="{!wikiUTIL_Sorter.column}" ></apex:param>
                                         </apex:commandLink>
                                         
                                 </apex:facet>
                            <apex:outputField value="{!tsk.CallType}" style="height:40px;"/>
                       </apex:column>
                
                     <apex:column rendered="{!hidecol}" style="width:5%" >
                             <apex:facet name="header" >
                                         <apex:commandLink action="{!sort}" value="Closed{!IF(wikiUTIL_Sorter.column=='isclosed',IF(wikiUTIL_Sorter.sortDirection='ASC','?','?'),'')}" reRender="outputtask">
                                         <apex:param value="isclosed" name="column" assignTo="{!wikiUTIL_Sorter.column}" ></apex:param>
                                         </apex:commandLink>
                                         
                                 </apex:facet>
                                <apex:outputField value="{!tsk.isclosed}" style="height:40px;"/>
                       </apex:column>
          -->
               </apex:pageblocktable>
         
          </apex:pageblocksection>
<apex:outputPanel rendered="{!istask}">

 <div class="pgblockdiv1">
      
               
      <table class="tableclass">
          <tr>
                <td class="tdclass"> 
                <apex:outputLabel value="{!recordInfo}" id="outla"/> 
                            <apex:selectList value="{!limits}" size="1" onchange="changeLimit();return false;" >
                            <apex:selectOptions value="{!items}"/>
                    </apex:selectList>
                    
                
                </td>
                <td class="tdclass">
                 <span class="stopFocus" style="margin: 0 30px;">
             
                
                <apex:inputtext id="pageNo" value="{!pageNumber}" style="width:20px; text-align:center" size="3" onkeydown="return runScript(event);"  />
                <apex:outputLabel value="of {!totalPage}"/>
            </span> 
          
               
            <span >
                <span style="margin: 0px 3px;">
                    <apex:outputPanel rendered="{!firstOff}">
                        <img src="/s.gif" title="Move to First Page" onclick="first();return false;" style="cursor:pointer; cursor:hand; background-image: url('/img/paginationArrows.gif');background-position: 0 1px;background-repeat: no-repeat; height: 10px;width: 9px;"/>
                    </apex:outputPanel>
                    <apex:outputPanel rendered="{!(!firstOff)}">
                        <img src="/s.gif"   style="cursor:text; background-image: url('/img/paginationArrows.gif');background-position: 0 -10px;background-repeat: no-repeat; height: 10px;width: 9px;"/>
                    </apex:outputPanel>
                </span>
                <span style="margin: 0 3px;">
                    <apex:outputPanel rendered="{!firstOff}">
                        <img class="prev" src="/s.gif" onclick="previous();return false;" title="Move to Previous Page" style="cursor:pointer; cursor:hand;background-image: url('/img/paginationArrows.gif'); background-position: -10px 1px;background-repeat: no-repeat;height: 10px;margin: 0; padding: 0;width: 9px;"/>
                        <apex:outputLabel value="Previous"   style="cursor:pointer; cursor:hand;" onclick="previous();return false;"/>
                    </apex:outputPanel>
                    <apex:outputPanel rendered="{!(!firstOff)}">
                        <img src="/s.gif"  style="cursor:text; background-image: url('/img/paginationArrows.gif');background-position: -10px -10px;background-repeat: no-repeat;height: 10px;margin: 0;padding: 0;width: 9px;"/>
                        <apex:outputLabel value="Previous"  style="cursor:text; color: #A8A8A8"/>
                    </apex:outputPanel>
                </span>
                <span style="margin: 0 3px;">
                    <apex:outputPanel rendered="{!lastOff}">
                        <apex:outputLabel value="Next" style="cursor:pointer; cursor:hand;" onclick="next();return false;"/>
                        <img src="/s.gif" onclick="next();return false;" title="Move to Next Page" style="cursor:pointer; cursor:hand; background-image: url('/img/paginationArrows.gif');background-position: -17px 1px; background-repeat: no-repeat;height: 10px; width: 9px;"/>
                    </apex:outputPanel>
                    <apex:outputPanel rendered="{!(!lastOff)}">
                        <apex:outputLabel value="Next" style="cursor:text; color: #A8A8A8"/>
                        <img src="/s.gif" style="cursor:text; background-image: url('/img/paginationArrows.gif');background-position: -17px -10px;background-repeat: no-repeat;height: 10px;width: 9px;"/>
                    </apex:outputPanel>
                </span>
              <span style="margin: 0 3px;">
                    <apex:outputPanel rendered="{!lastOff}">
                        <img src="/s.gif" onclick="last();return false;" title="Move to Last Page" style="cursor:pointer; cursor:hand; background-image: url('/img/paginationArrows.gif'); background-position: -27px 1px;background-repeat: no-repeat;height: 10px;width: 9px;"/>
                    </apex:outputPanel>
                    <apex:outputPanel rendered="{!(!lastOff)}">
                        <img src="/s.gif" style="cursor:text; background-image: url('/img/paginationArrows.gif');background-position: -27px -10px;background-repeat: no-repeat;height: 10px;width: 9px; "/>
                    </apex:outputPanel>
                </span> 
            </span>
                </td>
          </tr>
          
     </table>
      
      
        </div> 
        </apex:outputPanel>
     
       </apex:outputPanel>
     
<apex:outputPanel id="outputevent">
<apex:pageBlockSection title="Event Information" rendered="{!IsEvent}" collapsible="false" columns="1" >
              
              
               <apex:pageblocktable value="{!eventdata}" var="Eve"   style="background-color:#E5F1FC;" width="100%">
          
                         <apex:column headerValue="Action"  style="width:10%" >
                                   
                                         <apex:commandLink value="Edit" action="{!editactivity}" style="text-decoration: none;">
                                           <apex:param name="as3" assignTo="{!selectedeveforedit}" value="{!Eve.id}"/>
                                       </apex:commandlink>  &nbsp; |   &nbsp;
                                       
                                       <apex:commandLink value="Cls" action="{!closeactivity}"  status="clsst1" style="text-decoration: none;">
                                   <apex:param name="as4" assignTo="{!selectedeveforedit}" value="{!Eve.id}" />
                               </apex:commandlink> 
                                       
                         
                               <apex:actionStatus id="clsst1">
                                             <apex:facet name="start">
                                         <apex:outputPanel >
                                               <apex:image value="/img/loading32.gif" style="height: 15px;"/>
                                         </apex:outputPanel>
                                   </apex:facet>
                             </apex:actionStatus>
                          </apex:column>
                          
                            <apex:column rendered="{!(!hidedel)}">
                             <apex:facet name="header" >
                                         <apex:commandLink action="{!sort}" value="Subject{!IF(wikiUTIL_Sorter1.column=='Subject',IF(wikiUTIL_Sorter1.sortDirection='ASC','▲','▼'),'')}" reRender="outputevent">
                                         <apex:param value="Subject" name="column" assignTo="{!wikiUTIL_Sorter1.column}" ></apex:param>
                                         </apex:commandLink>
                                         
                                 </apex:facet>
                                   <apex:image value="{!$Resource.bat__recurring}" style="height: 15px;" rendered="{!Eve.RecurrenceActivityId<>null}"/>
                                  
                                  
                                  <a href="/{!Eve.id}" >{!Eve.Subject}</a>
                                  <!--   <apex:commandLink onclick="window.open('/{!Eve.id}','_blank'); return false">{!Eve.Subject}</apex:commandLink> -->
                          
                       </apex:column>
                       
                         <apex:column rendered="{!hidecol && (!hidedel)}" >
                             <apex:facet name="header" >
                                         <apex:commandLink action="{!sort}" value="Name{!IF(wikiUTIL_Sorter1.column=='Whoid',IF(wikiUTIL_Sorter1.sortDirection='ASC','▲','▼'),'')}" reRender="outputevent">
                                         <apex:param value="Whoid" name="column" assignTo="{!wikiUTIL_Sorter1.column}" ></apex:param>
                                         </apex:commandLink>
                                         
                                 </apex:facet>
                                   <apex:outputField value="{!Eve.Whoid}" style="height:40px;width:20px;"/>
                       </apex:column>
                     
                      <apex:column rendered="{!hidecol && (!hidedel)}" >
                             <apex:facet name="header" >
                                         <apex:commandLink action="{!sort}" value="Related To{!IF(wikiUTIL_Sorter1.column=='Whatid',IF(wikiUTIL_Sorter1.sortDirection='ASC','▲','▼'),'')}" reRender="outputevent">
                                         <apex:param value="Whatid" name="column" assignTo="{!wikiUTIL_Sorter1.column}" ></apex:param>
                                         </apex:commandLink>
                                         
                                 </apex:facet>
                                  <apex:outputField value="{!Eve.Whatid}" style="height:40px;width:20px;"/>
                       </apex:column>
                     
                 
              
                   
                   
                     <apex:column rendered="{!dedicatedacti && (!hidedel)}" >
                             <apex:facet name="header" >
                                         <apex:commandLink action="{!sort}" value="Assigned To{!IF(wikiUTIL_Sorter1.column=='Ownerid',IF(wikiUTIL_Sorter1.sortDirection='ASC','▲','▼'),'')}" reRender="outputevent">
                                         <apex:param value="Ownerid" name="column" assignTo="{!wikiUTIL_Sorter1.column}" ></apex:param>
                                         </apex:commandLink>
                                         
                                 </apex:facet>
                                  <apex:outputField value="{!Eve.Ownerid}" style="height:40px;width:20px;"/>
                       </apex:column>
                     
                   
                 
                   
                   
                   
                     <apex:column rendered="{!(!hidedel)}">
                             <apex:facet name="header" >
                                         <apex:commandLink action="{!sort}" value="StartDateTime{!IF(wikiUTIL_Sorter1.column=='StartDateTime',IF(wikiUTIL_Sorter1.sortDirection='ASC','▲','▼'),'')}" reRender="outputevent">
                                         <apex:param value="StartDateTime" name="column" assignTo="{!wikiUTIL_Sorter1.column}" ></apex:param>
                                         </apex:commandLink>
                                         
                                 </apex:facet>
                                 
                      <apex:outputField value="{!Eve.StartDateTime}" style="height:40px;width:20px;"/>
                       </apex:column>
              
                   
                     <apex:column rendered="{!hidecol && (!hidedel)}" >
                             <apex:facet name="header" >
                                         <apex:commandLink action="{!sort}" value="EndDateTime{!IF(wikiUTIL_Sorter1.column=='EndDateTime',IF(wikiUTIL_Sorter1.sortDirection='ASC','▲','▼'),'')}" reRender="outputevent">
                                         <apex:param value="EndDateTime" name="column" assignTo="{!wikiUTIL_Sorter1.column}" ></apex:param>
                                         </apex:commandLink>
                                         
                                 </apex:facet>
                                 <apex:outputField value="{!Eve.EndDateTime}" style="height:40px;width:20px;"/>
                       </apex:column>
                     
               
                   
                   <apex:column rendered="{!hidecol && (!hidedel)}" >
                             <apex:facet name="header" >
                                         <apex:commandLink action="{!sort}" value="ShowAs{!IF(wikiUTIL_Sorter1.column=='ShowAs',IF(wikiUTIL_Sorter1.sortDirection='ASC','▲','▼'),'')}" reRender="outputevent">
                                         <apex:param value="ShowAs" name="column" assignTo="{!wikiUTIL_Sorter1.column}" ></apex:param>
                                         </apex:commandLink>
                                         
                                 </apex:facet>
                                           <apex:outputField value="{!Eve.ShowAs}" style="height:40px;width:20px;"/>
                       </apex:column>
                     
                  
                  
                 
                 
             
                   
         
                     
                   
                    <apex:column headerValue="Description"  rendered="{!hidecol && (!hidedel)}"  >
                    
                         <a href="/{!Eve.id}" title="{!Eve.Description}">{!left(Eve.Description,45)}</a>
                    
                   </apex:column>
                 
                        <apex:repeat value="{!eventfield11}" var="f1" >
                                <apex:column style="width: 10px;" rendered="{!if(f1.label!='Description' && hidedel ,true,false)}" >
                                         <apex:facet name="header">
                                                
                                          <apex:commandLink action="{!sort}" value="{!f1.label}{!IF(wikiUTIL_Sorter1.column==f1.value,IF(wikiUTIL_Sorter1.sortDirection='ASC','▲','▼'),'')}" reRender="outputevent">
                                                 <apex:param value="{!f1.value}" name="column" assignTo="{!wikiUTIL_Sorter1.column}" ></apex:param>
                                             </apex:commandLink>
                                             
                                        </apex:facet>  
                                <apex:outputField value="{!Eve[f1.value]}"  rendered="{!if(f1.value!='Description',true,false)}"/>
                        
                        
                       
                        </apex:column>
                        
                        
                                 <apex:column headervalue="{!f1.label}" rendered="{!if(f1.value=='Description' &&  hidedel ,true,false)}">
                         
                                         <a href="/{!Eve.id}" title="{!Eve[f1.value]}">{!left(Eve[f1.value],45)}</a>
                         
                            </apex:column>
                        
                        
                    </apex:repeat>
                   
                 
               </apex:pageblocktable>
            </apex:pageblocksection>
      <apex:outputPanel rendered="{!isevent}">
       
       
      <div class="pgblockdiv1" >
       
       
        <table class="tableclass" >
          <tr>
                <td class="tdclass"> 
                
              <apex:outputLabel value="{!recordInfo1}"/> 
                    
                    <apex:selectList value="{!limits1}" size="1" onchange="changeLimit1();return false;" >
                        <apex:selectOptions value="{!items1}"/>
                    </apex:selectList>
                
                </td>
                <td class="tdclass">
                
            <span style="margin: 0 30px;">
             
                
                <apex:inputtext id="pageNo1" value="{!pageNumber1}" style="width:20px; text-align:center" size="3" onkeydown="return runScrip(event);"  />
                <apex:outputLabel value="of {!totalPage1}"/>
            </span>
          
            
            <span >
                <span style="margin: 0px 3px;">
                    <apex:outputPanel rendered="{!firstOff1}">
                        <img src="/s.gif" title="Move to First Page" onclick="first1();return false;" style="cursor:pointer; cursor:hand; background-image: url('/img/paginationArrows.gif');background-position: 0 1px;background-repeat: no-repeat; height: 10px;width: 9px;"/>
                    </apex:outputPanel>
                    <apex:outputPanel rendered="{!(!firstOff1)}">
                        <img src="/s.gif" style="cursor:text; background-image: url('/img/paginationArrows.gif');background-position: 0 -10px;background-repeat: no-repeat; height: 10px;width: 9px;"/>
                    </apex:outputPanel>
                </span>
                <span style="margin: 0 3px;">
                    <apex:outputPanel rendered="{!firstOff1}">
                        <img class="prev" src="/s.gif" title="Move to Previous Page" onclick="previous1();return false;" style="cursor:pointer; cursor:hand;background-image: url('/img/paginationArrows.gif'); background-position: -10px 1px;background-repeat: no-repeat;height: 10px;margin: 0; padding: 0;width: 9px;"/>
                        <apex:outputLabel value="Previous"  style="cursor:pointer; cursor:hand;" onclick="previous1();return false;"/>
                    </apex:outputPanel>
                    <apex:outputPanel rendered="{!(!firstOff1)}">
                        <img src="/s.gif" style="cursor:text; background-image: url('/img/paginationArrows.gif');background-position: -10px -10px;background-repeat: no-repeat;height: 10px;margin: 0;padding: 0;width: 9px;"/>
                        <apex:outputLabel value="Previous"  style="cursor:text; color: #A8A8A8"/>
                    </apex:outputPanel>
                </span>
                <span style="margin: 0 3px;">
                    <apex:outputPanel rendered="{!lastOff1}">
                        <apex:outputLabel value="Next" style="cursor:pointer; cursor:hand;" onclick="next1();return false;"/>
                        <img src="/s.gif" onclick="next1();return false;" title="Move to Next Page" style="cursor:pointer; cursor:hand; background-image: url('/img/paginationArrows.gif');background-position: -17px 1px; background-repeat: no-repeat;height: 10px; width: 9px;"/>
                    </apex:outputPanel>
                    <apex:outputPanel rendered="{!(!lastOff1)}">
                        <apex:outputLabel value="Next" style="cursor:text; color: #A8A8A8"/>
                        <img src="/s.gif" style="cursor:text; background-image: url('/img/paginationArrows.gif');background-position: -17px -10px;background-repeat: no-repeat;height: 10px;width: 9px;"/>
                    </apex:outputPanel>
                </span>
              <span style="margin: 0 3px;">
                    <apex:outputPanel rendered="{!lastOff1}">
                        <img src="/s.gif" onclick="last1();return false;" title="Move to Last Page" style="cursor:pointer; cursor:hand; background-image: url('/img/paginationArrows.gif'); background-position: -27px 1px;background-repeat: no-repeat;height: 10px;width: 9px;"/>
                    </apex:outputPanel>
                    <apex:outputPanel rendered="{!(!lastOff1)}">
                        <img src="/s.gif" style="cursor:text; background-image: url('/img/paginationArrows.gif');background-position: -27px -10px;background-repeat: no-repeat;height: 10px;width: 9px; "/>
                    </apex:outputPanel>
                </span> 
            </span></td>
            </tr>
            </table>
        </div> 
   </apex:outputPanel>
             </apex:outputPanel><apex:outputPanel id="powerdby">
        <center>   <apex:image value="{!$Resource.bat__powereby}" rendered="{!istask || Isevent}" onclick="window.open('http://www.basati.com/')"/>      </center></apex:outputPanel>
      </apex:pageBlock>
      
      </div>
      
      
      <apex:outputpanel id="testpop">
   <apex:outputPanel styleClass="popupBack" rendered="{!isdisplay}" layout="block">
     <apex:outputpanel styleClass="custPopup" rendered="{!isdisplay}" layout="block">  
         <br/>
         <br/>
          <center>
     Are you sure?
      
       
          <br/>
            <br/>
            <apex:commandButton action="{!popupok}" value="Ok"/>
            <apex:commandButton action="{!popupcancel}" value="Cancel"/>
                  </center>
      </apex:outputpanel>
     </apex:outputpanel>   
   </apex:outputpanel>
      
  </apex:form> 
</apex:page>